.DS_Store
.idea/
algorithms_implementation/
knn_homework1/.ipynb_checkpoints/KNN-checkpoint.ipynb
knn_homework1/__pycache__/knn.cpython-39.pyc
knn_homework1/__pycache__/metrics.cpython-39.pyc
knn_homework1/.ipynb_checkpoints
/Users/kirill/Bioinformatics_Institute/ML_course/BI_ML_2021/linear_models_homework2/scripts/.ipynb_checkpoints
/Users/kirill/Bioinformatics_Institute/ML_course/BI_ML_2021/linear_models_homework2/scripts/.DS_Store
/Users/kirill/Bioinformatics_Institute/ML_course/BI_ML_2021/linear_models_homework2/.ipynb_checkpoints
/Users/kirill/Bioinformatics_Institute/ML_course/BI_ML_2021/linear_models_homework2/.DS_Store
